
body{
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: beige;
}
.count{
    font-size: 3rem;
}
button{
    padding: 10px 16px;
    background-color: #0ff;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
}
input{
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}

#footer {
    text-align: center;
    margin-top: auto;
    padding: 10px 0;
    background-color: aquamarine;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.github-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #161818;
    text-decoration: none; 
}

.github-icon:hover {
    color: #000;
}
